h1 {text-align: center;}
h2 {text-align: center;}
#humano {width: 30%;}
#humano {margin-left: 35%;}
h1 {color: darkred;}
h2 {color: darkred;}
h1 {font-size: 300%;}
h2 {font-size: 200%;}
body {background-color: rgb(224, 166, 20);}
